body {
    background: #fff;
}


/* 

Header 

*/


.content__section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    min-height: 293px;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 0;
}

.header__menu {
    max-width: 392px;
    margin: auto;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 32px;
    font-size: 18px;
}

.header__menu-item_active__no-marker {
    list-style-type: none;

} 

.header__menu-item-marker {
    list-style-type: circle;
}

.header__menu-link {
    color: #000;
    text-underline-offset: 4px;
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-img {
    width: 100%;
    margin: auto;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start;
    max-width: 240px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.header__address-link {
    color: #000;
    text-underline-offset: 4px;
}


/* 

Section cover 

*/


.cover {
    position: relative;
    max-width: 1100px;
    min-height: 757px;
    margin: auto;
    background-image: url(../images/lotus-flower.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.overlay {
    position: absolute;
    width: 1100px;
    height: 757px;
    opacity: 0.6;
    background: #000;
}

.cover__title {
    position: relative;
    z-index: 1;
    padding: 0 50px;
    padding-top: 165px;
    color: #fff;
    font-size: 100px;
    line-height: 127%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    letter-spacing: 0.4em;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 26px;
}

.no-letter-spacing {
    margin-left: -0.1em;
    letter-spacing: normal; 

}

.cover__description {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    padding-top: 106px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 22px;
}

.bet-button {
    display: inline-block;
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: normal;
    background: transparent;
    transition: background 0.3s;
    cursor: pointer;
}


/* 

Section lots  

*/


.lots {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    padding-top: 180px;
}

.lots__heading {
    padding-bottom: 27px;
    padding-left: 64px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.card {
    position: relative;
    box-sizing: border-box;
    padding: 48px 40px;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 334px;
    height: 596px;
}

.lots__card-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 30px;
}

.card_type_film {
    position: relative;
    z-index: 2;
    width: 334px;
    height: 596px;
    background-image: url(../images/card/frame_01.png);
    background-repeat: no-repeat;
}

.card_type_film .card__title {
    position: relative;
    z-index: 3;
    max-width: 254px;
    min-height: 82px;
    padding-bottom: 274px;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}

.card_type_film .card__text {
    position: relative;
    z-index: 3;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card_type_book {
    position: relative;
    z-index: 2;
    width: 334px;
    height: 596px;
    background-image: url(../images/card/frame_02.png);
    background-repeat: no-repeat;
}

.card_type_book .card__title {
    position: relative;
    z-index: 3;
    max-width: 254px;
    min-height: 110px;
    padding-bottom: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}

.card_type_book .card__text {
    position: relative;
    z-index: 3;
    width: 254px;
    height: 360px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card_type_picture {
    position: relative;
    z-index: 2;
    width: 334px;
    height: 596px;
    background-image: url(../images/card/frame_03.png);
    background-repeat: no-repeat;
}

.card_type_picture .card__title {
    position: relative;
    z-index: 3;
    max-width: 254px;
    min-height: 110px;
    padding-bottom: 126px;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}

.card_type_picture .card__text {
    position: relative;
    z-index: 3;
    width: 254px;
    height: 264px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    padding-left: 64px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}


/* 

Section about 

*/


.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    max-width: 1100px;
    margin: auto;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__column_left {
    padding-top: 155px;
    padding-left: 71px;
}

.about__logo {
    position: relative;
    display: flex;
    width: 240px;
    height: 240px;
    margin: auto;
    border-radius: 50%;
    background: #000;
}

.about__logo-image {
    display: flex;
    justify-content: center;
    max-width: 142px;
    height: 112px;
    margin: auto;
}

.about__column_right {
    padding-top: 254px;
    padding-right: 24px;
    padding-left: 72px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 688px;
    margin-top: 100px;
    padding-bottom: 180px;
    font-size: 20px;
    line-height: 1.35;
}


/* 

Footer  

*/


.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1100px;
    min-height: 180px;
    margin: 0 auto;
    padding: 0px 50px 0 50px;
}

.footer__menu-item_active .header__menu-link {
    text-decoration: none;
}

.footer__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 265px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;

}

.footer__menu {
    display: flex;
    justify-self: center;
    gap: 20px;
    max-width: 164px;
    min-height: 64px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

}

.footer__menu-link {
    margin: 0 auto;
    padding: 0;
    color: #000;
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    /* align-content: stretch; */
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    
}